<html>
<title>Holaa</title>
<body>
<table>
        <thead>
        <tr>
            <th>ID</th>
            <th>TITLE</th>
            <th>TYPE</th>
            <th>GENRE</th>
            <th>IMBD RATING</th>
        </tr>
        </thead>
        <tbody>
            {%for data in results%}
            <tr>
		<td>{{data.id}}</td>
                <td>{{data.name}}</td>
                <td>{{data.type}}</td>
                <td>{{data.genre}}</td>
                <td>{{data.imdb_rating}}</td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
	<form action = "http://localhost:8084/netflix/original-content" method = "POST">
        	<p>Name <input type = "text" name = "title" /></p>
   		<p><input type = "submit" value = "submit" /></p>
      	</form>
</body>
</html>
